<!DOCTYPE html>
<html>
<head>
    <title>Eshop a Flat E-Commerce Bootstrap Responsive Website Template | Register :: w3layouts</title>
    {% include 'client/head.html' %}
    <script>
        $(document).ready(function () {
            $("#materialUnchecked").click(function () {
                if ($('#materialUnchecked').is(":checked")) {
                    $('#register').prop("disabled", false)
                } else {
                    $('#register').prop("disabled", true)
                }
            })
            $('#register').click(function () {
                if ($('#password1').val() == $('#password2').val()) {
                    return;
                } else {
                    alert('Passwords Does\'t Match')
                }
            })
        })
    </script>
</head>
<body>
{% include 'client/header.html' %}
<!-- registration-form -->
<div class="registration-form">
    <div class="container">
        <div class="dreamcrub">
            <ul class="breadcrumbs">
                <li class="home">
                    <a href="index.html" title="Go to Home Page">Home</a>&nbsp;
                    <span>&gt;</span>
                </li>
                <li class="women">
                    Registration
                </li>
            </ul>
            <ul class="previous">
                <li><a href="index.html">Back to Previous Page</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <h2>Registration</h2>
        <div class="registration-grids">
            <div class="reg-form">
                <div class="reg">
                    <p>Welcome, please enter the following details to continue.</p>
                    <p>If you have previously registered with us, <a href="{% url 'account' %}">
                        click here</a></p>
                    <form method="post">
                        {% csrf_token %}
                        <ul>
                            <li class="text-info">Name:</li>
                            <li><input type="text" name="name" required></li>
                        </ul>
                        {#                        <ul>#}
                        {#                            <li class="text-info">Last Name:</li>#}
                        {#                            <li><input type="text" value=""></li>#}
                        {#                        </ul>#}
                        <ul>
                            <li class="text-info">Email:</li>
                            <li><input type="text" name="email" required></li>
                        </ul>
                        <ul>
                            <li class="text-info">Password:</li>
                            <li><input type="password" name="password1" id="password1"
                                       minlength="8" required></li>
                        </ul>
                        <ul>
                            <li class="text-info">Re-enter Password:</li>
                            <li><input type="password" name="password2" id="password2"
                                       minlength="8" required></li>
                        </ul>
                        {#                        <ul>#}
                        {#                            <li class="text-info">Mobile Number:</li>#}
                        {#                            <li><input type="text" value=""></li>#}
                        {#                        </ul>#}
                        <input type="submit" id="register" value="REGISTER NOW" disabled>

                        <div class="form-check checkbox-inline">
                            <input type="checkbox" class="form-check-input" id="materialUnchecked">
                            {#    <label class="form-check-label" for="materialUnchecked">Material unchecked</label>#}
                            <p class="click">By clicking this button, you are agree to my <a
                                    href="{% url 'privacy' %}">Privacy
                                Policy</a> and <a href="{% url 'TnC' %}">Terms and
                                Conditions.</a></p>
                        </div>

                    </form>
                </div>
            </div>
            <div class="reg-right">
                <h3>Completely Free Account</h3>
                <div class="strip"></div>
                <p>Pellentesque neque leo, dictum sit amet accumsan non, dignissim ac mauris. Mauris rhoncus, lectus
                    tincidunt tempus aliquam, odio
                    libero tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum.
                    Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac
                    lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
                <h3 class="lorem">Lorem ipsum dolor.</h3>
                <div class="strip"></div>
                <p>Tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent
                    porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis
                    hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- registration-form -->
{% include 'client/footer.html' %}
</body>
</html>