<!DOCTYPE html>
<html>
<head>
    <title>Eshop a Flat E-Commerce Bootstrap Responsive Website Template | Register :: w3layouts</title>
    {% include 'client/head.html' %}
    <script>
        $(document).ready(function () {
            $("#materialUnchecked").click(function () {
                if ($('#materialUnchecked').is(":checked")) {
                    $('#register').prop("disabled", false)
                } else {
                    $('#register').prop("disabled", true)
                }
            })
            $('#register').click(function () {
                if ($('#password').val() != $('#password2').val()) {
                    alert('Passwords Doesn\'t Match');
                }
            })
        })
    </script>
    <style>
        .reg form input[type="text"], .reg form input[type="password"], .reg form input[type="email"] {
            width: 100%;
            padding: 8px;
            font-size: 14px;
            font-weight: 400;
            border: 1px solid #e6e6e6;
            outline: none;
            color: #000;
        }

        .reg form input[type=button] {
            border: none;
            color: #ffffff;
            padding: 9px 35px;
            font-size: 14px;
            cursor: pointer;
            font-weight: 500;
            margin: 0 0 32px 0;
            background: #816263;
            border-top: none;
            border-left: none;
            border-right: none;
        }

        .error {
            color: red;
        }
    </style>
</head>
<body>
{% include 'client/header.html' %}
<!-- registration-form -->
<div class="registration-form">
    <div class="container">
        <div class="dreamcrub">
            <ul class="breadcrumbs">
                <li class="home">
                    <a href="index.html" title="Go to Home Page">Home</a>&nbsp;
                    <span>&gt;</span>
                </li>
                <li class="women">
                    Registration
                </li>
            </ul>
            <ul class="previous">
                <li><a href="{% url 'home' %}">Back to Previous Page</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <h2>Registration</h2>
        <div class="registration-grids">
            <div class="reg-form">
                <div class="reg">
                    <p>Welcome, please enter the following details to continue.</p>
                    <p>If you have previously registered with us, <a href="{% url 'account' %}">
                        click here</a></p>
                    <form id="registerForm">
                        <ul>
                            <li class="text-info">Name:</li>
                            <li><input data-msg-required="Please fill this field" type="text" data-rule-required="true"
                                       name="name" id="name" required></li>
                        </ul>
                        {#                        <ul>#}
                        {#                            <li class="text-info">Last Name:</li>#}
                        {#                            <li><input type="text" value=""></li>#}
                        {#                        </ul>#}
                        <ul>
                            <li class="text-info">Email:</li>
                            <li><input type="email" data-rule-required="true" id="email" name="email" required></li>
                        </ul>
                        <ul>
                            <li class="text-info">Password:</li>
                            <li><input type="password" data-rule-required="true" name="password" id="password"
                                       minlength="8" required></li>
                        </ul>
                        <ul>
                            <li class="text-info">Re-enter Password:</li>
                            <li><input type="password" data-rule-required="true"
                                       name="password2" id="password2"
                                       minlength="8" required></li>
                        </ul>
                        {#                        <ul>#}
                        {#                            <li class="text-info">Mobile Number:</li>#}
                        {#                            <li><input type="text" value=""></li>#}
                        {#                        </ul>#}
                        <input type="button" onclick="sendotp()"
                               id="register" value="REGISTER NOW" disabled>

                        <div class="form-check checkbox-inline">
                            <input type="checkbox" class="form-check-input" id="materialUnchecked">
                            {#    <label class="form-check-label" for="materialUnchecked">Material unchecked</label>#}
                            <p class="click">By clicking this button, you are agree to my <a
                                    href="{% url 'privacy' %}">Privacy
                                Policy</a> and <a href="{% url 'TnC' %}">Terms and
                                Conditions.</a></p>
                        </div>

                    </form>
                </div>
            </div>
            <div class="reg-right">
                <h3>Completely Free Account</h3>
                <div class="strip"></div>
                <p>Pellentesque neque leo, dictum sit amet accumsan non, dignissim ac mauris. Mauris rhoncus, lectus
                    tincidunt tempus aliquam, odio
                    libero tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum.
                    Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac
                    lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
                <h3 class="lorem">Lorem ipsum dolor.</h3>
                <div class="strip"></div>
                <p>Tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent
                    porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis
                    hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Please Enter OTP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="otp">OTP</label>
                        <input type="text" class="form-control" id="otp" name="otp">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- registration-form -->
{% load static %}
{% include 'client/footer.html' %}
<script src="{% static 'dist/jquery.validate.js' %}"></script>
<script>
    function sendotp() {
        alert("hello");
        if ($('#registerForm').valid()) {
            var email = document.getElementById('email').value;
            console.log(email);
            var formData = new FormData();
            formData.append('name', document.getElementById('name').value);
            formData.append('email', document.getElementById('email').value);
            formData.append('password', document.getElementById('password').value);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var output = this.responseText;
                    console.log(output);
                    if (output == 'sent') {
                        $('#exampleModalCenter').modal('show');
                    } else {
                        alert("Email Not Sent!!!")
                    }
                }
            };
            xhttp.open("post", "sentOtp", true);
            xhttp.send(formData);

        }
    }
</script>
</body>
</html>